@scroll-view-prefix-cls: ~"@{css-prefix}scroll-view";
.@{scroll-view-prefix-cls} {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
